
body {
    width: 1000px;
    margin: 0 auto;
    background: lightsalmon;
}

button {
    width: 100px;
    height: 50px;
    left: 50%;
}

#gridContainer{
    width: 800px;
    height: 800px;
    background: purple;
    margin: 0 auto;
    display: grid;
    border: 10px solid black;
   
}

